@model Inmobiliaria.Models.Piso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Piso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.planta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.planta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.metros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.metros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.es_nuevo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.es_nuevo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio_base)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio_base)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_construccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_construccion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
